.aboutStyle{
    display: flex;
    justify-content: center;
    
    /* height: 10vh; */
}
.paragraphDiv{
    display: flex;
    justify-content: center;

}
.aboutParagraph{
    width: 80vw;
    text-align: center;
    
}
.teammates{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap{
    height: 90px;
}
.gap2{
    width: 6vw;
}