
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
  font-family: 'Work Sans', sans-serif;  
  font-size: 17px;
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  color: #fff
}
.background {
  background-color: #282c34;
}

