.add-event {
    color: black; 
    background-color: rgb(255, 255, 255);
    height: 1000px; 
}

.boxes {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}