.box {
    display: flex;
    /*background-color: #282c34;*/
    width: 100%; 
    height: 90vh;
    justify-content: center;
    
}
.SignUp-header {
    display: flex;
    align-self: center;
    background-color: #cacacc;
    width: 35vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: calc(4px + 2vmin);
    font-family: 'Work Sans', sans-serif;
    color: #282c34;
    border-radius: 19px;
background: #cacacc;
box-shadow:  10px 10px 37px #000000,
             -10px -10px 37px #212121;
}
/* .header2{
    display: flex;
    justify-content: center;
    font-size: 25px;
} */
.signUpText {
    font-family: 'Source Code Pro', monospace;
}
.accessType{
    font-family: 'Source Code Pro', monospace;
    font-size: 12pt;
}
.button3 {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}